* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
body {
  font-size: 18px;
  font-family: 'Raleway';
}

.dark-theme {
  background-color: #1f1b24;
  color: #f8f8f8;
}

.light-theme {
  background-color: #fff;
  color: #444444;
}

.dark-theme nav{
  background: url("./imgs/moon.jpg") no-repeat;
  background-size: cover;
  width: 100%;
  height: 50vh;
}

.light-theme nav{
  background: url("./imgs/sun.jpg") no-repeat;
  background-size: cover;
  width: 100%;
  height: 50vh;
}

.dark-theme img{
  background: url("./imgs/icon-moon.svg") no-repeat;
  background-size: cover;

}
.light-theme img{
  background: url("./imgs/icon-sun.svg") no-repeat;
  background-size: cover;
  
}

.header img{
  border-radius: 50%;
  border: 0px solid #776de400;
}



.container {
  display: flex;
  justify-content: center;
  flex-direction: column;
  width: 500px;
  margin: -230px auto 0 auto;
}
.header {
  display: flex;
  justify-content: space-between;
  margin-bottom: 30px;
  width: 100%;
}
.header h1 {
  color: #fff;
  letter-spacing: 15px;
  text-transform: uppercase;
}
.header img{
  cursor: pointer;
  height: 30px;
  width: 30px;
}
.header button{
  background : none;
  border: none;
}

